<b>🟦 Добавление человека 🟦</b>

{% set vk_url = fsm_data.get('vk_url') %}
{% set first_name = fsm_data.get('first_name') %}
{% set last_name = fsm_data.get('last_name') %}
{% set committee = fsm_data.get('committee') %}

{% if current_state == 'AddPerson:vk_url' %}
    <p>Введи ссылку на профиль ВК:</p>
{% elif current_state == 'AddPerson:first_name' %}
    {% if vk_url %}
        <p>Ссылка на ВК: {{vk_url}}</p>
    {% endif %}
    <p>Введи имя:</p>
{% elif current_state == 'AddPerson:last_name' %}
    {% if vk_url %}
        <p>Ссылка на ВК: {{vk_url}}</p>
    {% endif %}
    {% if first_name %}
        <p>Имя: {{first_name}}</p>
    {% endif %}
    <p>Введи фамилию:</p>
{% elif current_state == 'AddPerson:committee' %}
    {% if vk_url %}
        <p>Ссылка на ВК: {{vk_url}}</p>
    {% endif %}
    {% if first_name %}
        <p>Имя: {{first_name}}</p>
    {% endif %}
    {% if last_name %}
        <p>Фамилия: {{last_name}}</p>
    {% endif %}
    <p>Введи название комитета:</p>
{% else %}
    <p>Неизвестное состояние</p>
{% endif %}
